<!-- main content window for thie editor -->
<div class="editorContent">
    <div class="FlMSideBar">
    <div class="FlMelement">Edit Mode ACtive</div>
    <ul>
      <li class="Save" id="FlMelement">Save</li>
      <li id="FlMelement">Add element</li>
    </ul>
  </div>
        <div class='shadowDroper'></div>
        <div class='EditorTextBox'>
            <div class='EditBoxButtons'>
                <button class='changeButton'><img width="40" class="FluidIMG" src="./FluidManager/icons/OK.gif" alt="OK"></button><button class='exitbutton'><img class="FluidIMG" width="40" src='./FluidManager/icons/cancle.gif' alt='exit'></button>
            </div>
            <div class='EditTextArea'><textArea class='textboxeditor'></textArea></div>
        </div>
        <div class="SectionContral">
        <div class="ToggleEditMode">
        <span></span>
        <span></span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo illum ipsum reprehenderit aut. Minus mollitia vitae officiis, accusantium eum, quos ut reiciendis similique praesentium neque tenetur unde vero laboriosam consequuntur adipisci est dolores voluptas ratione quisquam sed labore recusandae ex tempora? Doloribus eum ratione soluta excepturi voluptatibus totam quisquam. Laudantium velit eveniet earum reprehenderit obcaecati assumenda possimus quo modi perspiciatis 
        <span></span>
        </div>
        <div class="AppHeader">
        </div>

        <div class="elementDrawerContainer">
            <div class="el 1"></div>
            <div class="el 2"></div>
        </div>

        </div>
    </div><!-- thie main contnent window fo thie website viewer -->
    <div class="webisteView"></div>
    <div class="Footer"></div><!-- <a href="./main.html"></a> -->